
.header{
	font-family: var(--font);
	font-size: 1.2rem;
	color: var(--font-color);
	text-align: center;
	width: 20%;
}

.pencil{
	background: url('../../../img/pencil.svg');
}
.trash{
	background: url('../../../img/trash.svg') 0 0 no-repeat;
}
.pencil,
.trash{
	width: 35px;
	height: 35px;
	background-size:cover;
	border: 0;
	margin: 15px;
	transition: 0.7s;
}
.pencil:hover,
.trash:hover{
	transform: scale(1.4);
}
