
.header{
	font-family: var(--font) !important;
	font-size: 1.2rem !important;
	color: var(--font-color) !important;
}

.pencil{
	background: url('../../../../../public/img/pencil.svg');
}
.trash{
	background: url('../../../../../public/img/trash.svg') 0 0 no-repeat;
}
.pencil,
.trash{
	width: 35px;
	height: 35px;
	background-size:cover;
	border: 0;
	margin: 15px;
	transition: 0.7s;
}
.pencil:hover,
.trash:hover{
	transform: scale(1.4);
}
.save{
	font-family: var(--font);
	position: relative;
	transform: translate(-59%, -37%);
	color: rgb(255, 239, 220);
	font-size: 1rem;
	border: 0;
	border-radius: 15px;
	background-color: #EDA8AA;
	padding: 8px;
	transition: 0.7s;
}
.save:hover{
	transform: translate(-59%, -37%) scale(1.2);
}
@keyframes ani {
	0% {opacity: 0;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}
.input{
	font-family: var(--font);
	border-radius: 15px;
	padding: 10px;
	border-color: #EDA8AA;
	animation: ani 2.5s forwards;
}