.container{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	min-height: 83vh;
	background-color: #00593e1f;
	padding-top: 70px;
}
.error{
	font-size: 10vw;
	color: rgb(240, 176, 197);
	text-shadow:  
	1px 1px 1px #00593E,  
	2px 2px 1px #00593E,
	3px 3px 1px #00593E,
	4px 4px 1px #00593E,
	5px 5px 1px #00593E,
	6px 6px 1px #00593E,
	7px 7px 1px #00593E,
	8px 8px 1px #00593E,
	25px 25px 8px rgba(0,0,0, 0.2);
}
.text{
	font-size: 2vw;
	color: var(--font-color);
	margin: 10px;
	
}
.back{
	background-color: rgba(240, 176, 197, 0.6);
	border-radius: 18px;
	text-decoration: none;
	font-size: 1.5vw;
	color: var(--font-color);
	padding: 8px;
}