.block{
	display: flex;
	align-items: center;
	margin: 1vw auto;
	padding-top: 70px;
}
.border{
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center; 
	font-family: var(--font);
	width: 200px;
	min-height: 300px;
	border: none;
	border-radius: 15px;
	box-shadow: 1px 1px 15px 15px rgba(216, 112, 147, 0.2);
	background-color: rgba(255, 228, 196, 0.4);
	padding: 15px;
	margin: 2vw;
}
.word{
	font-size: 2rem;
}
.transcription{
	color: rgba(0, 0, 0, 0.6);
}
.button{
	position: absolute;
	transform:translate(-50%, -50%);
	font-size: 1rem;
	border: none;
	color: bisque;
	background-color: rgba(216, 112, 147, 0.5);
	border-radius: 20px;
	padding: 1vw;
	transform: scale();
}
.button:hover{
	background-color: rgba(216, 112, 147, 0.7);
}
.wordRu{
	position: absolute;
	transform:translate(-50%, -50%);
	color: rgba(216, 112, 147, 0.6);
	font-size: 2vw;
}
.arrow{
	color: rgb(255, 251, 246);
	background-color: rgba(216, 112, 147, 0.4);
	border-radius: 50%;
	border: none;
	padding: 1vw;
	width: 4vw;
	transition: 0.6s;
}
.arrow:hover{
	transform: scale(1.2);
	background-color: rgba(216, 112, 147, 0.6);
}
